.App {
  text-align: center;
  
 
}
.para-outer{
  width:100vw;
  height:100vh;
  background-image: url(../images/typewriter.jpg);
  background-size: cover;
}

#scribbls-h2{
  margin: 0 auto;
  padding-top: 40px;
}

.genre-label{
  flex:1;
}

.box{
  padding:11pt;
  margin-top:20pt;
}

.box-controller {
  text-align: center;
  margin:20px auto;
 
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 24em;
  min-width: 21em;
  height: 35px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
  align-items: center;
  transition: visibility 0.5s ease-out;
}
 .controller {
  flex: 1;
  text-align: center;
  height: 100%;
  line-height: 2;
  cursor: pointer;
} 
.controller:hover{
  background: lightskyblue;
  
}
label{
  flex:1;
  width:50pt;
}
.login-button{
  width:50px;
  margin: 0 auto;
}
.login-button:hover{
background:lightskyblue;
}
.login-input{
  flex:1;
  border-radius: 3px;
  width:100pt;
}
.login-input:hover{
  border: 1px solid lightskyblue;
}
.selected-controller {
  transition: border 0.5s ease-out;
  border-bottom: 2px solid blue;
}

.box-container {
  margin: 0 auto;
  margin-top:20pt;
  display: flex;
  flex-direction: column;
  max-width: 24em;
  min-width: 21em;
  box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
  border-radius: 6px;
  padding: 24px;
}

.inner-container {
  transition: visibility 0.2s ease-out;
}

.inner-container.show {
  visibility: visible;
}
.header{
  padding:10px;
  /* border-bottom: 2px solid black; */
}

.password-state {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.pwd {
  height: 6px;
  flex: 1;
  visibility: hidden;
}

.pwd-weak {
  background-color: #e74c3c;
}

.pwd-medium {
  background-color: #3498db;
}

.pwd-strong {
  background-color: #2ecc71;
}

/* Search Bar */
.css-10nd86i,
.css-vj8t7z{
 
  width: 300px;
  height: 40px;
  margin: 0 auto;
  
}

.card-title{
  font-size:20px;
  
}
.card{
  margin: 20px auto;
  height:300px;
 

}
.scribbl-post:hover{
  transform: scale(1.1);
  transition: .4s;
 
}
.grid{
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 
}



